export BOOKCLUB_DB_DSN=postgres://test3:test3@localhost/test3?sslmode=disable
export token=FF65XZNVIR6FXVZLG4T5UZ6ZMA

export SMTP_HOST=sandbox.smtp.mailtrap.io
export SMTP_PORT=25
export SMTP_USERNAME=8400fd0b89d6ef
export SMTP_PASSWORD=66a00bb7e30247
export SMTP_SENDER='Comments Community <no-reply@commentscommunity.dalwinlewis.net>'
