{{define "subject"}}Password Reset{{end}}

{{define "PlainBody"}}
Hi,

A request for a password reset has been sent to this email for the BookClub Comminty Account 

For reference, the email is {{.userEmail}}.
Please send a request to `PUT /v1/users/password` to reset your password using the token:
{"token":"{{.activationToken}}"}

If you did not request a password reset, then just ignore this email

Thanks,

The BookClub Community Team
{{end}}

{{define "htmlBody"}}
<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>A request for a password reset has been sent to this email for the BookClub Comminty Account 
</p>
    <p>For reference, the email is {{.userID}}.</p>
    <p>Please send a request to <code>`PUT /v1/users/password`</code> to reset your password using the token:
    <pre><code>{"token":"{{.activationToken}}"}</code></pre>

<p>If you did not request a password reset, then just ignore this email</p>
    
    <p>Thanks,</p>
    <p>The BookClub Community Team</p>
</body>

</html>
{{end}}